/*CSharpDeveloper.io Site Main CSS file*/

/*Variables Section (ROOT)*/
:root {
    /*Header Variables*/
    --headerHeight: 300px;
    /*Body Variables*/
}

/*Main Header Layout*/
.mainHeader {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
p.mainHeader{
    color:blue;
}
/*Body Layout*/
body {
    background-color: black;
}