/*CSharpDeveloper.io Site Main CSS file*/

/*Variables Section (ROOT)*/
:root {
    /*Header Variables*/
    --headerHeight: 300px;
    /*Body Variables*/
}

/*Main Header Layout*/
.mainHeader {
    display:block;
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:var(--headerHeight);
    box-shadow:0 2px 5px rgba(0,0,0,0);
}
.mainHeader p{
    color:blue;
}
/*Body Layout*/
body {
    background-color: black;
}