/*CSharpDeveloper.io Site Main CSS file*/

/*Variables Section (ROOT)*/
:root {
    /*Header Variables*/
    --headerHeight: 300px;
    /*Body Variables*/
}

/*Main Header Layout*/
.mainHeader {
    border-radius:25px;
    border:2px solid #00ff21;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.mainHeader p {
    color:blue;
}
.mainHeader h1{
    color:purple;
}
/*Body Layout*/
body {
    background-color: black;
}