/*CSharpDeveloper.io Site Main CSS file*/

/*Variables Section (ROOT)*/
:root {
    /*Radius Controls Variables*/
    --borderRadius: 15px;
    --border: 1px solid #ffffff;
    /*Padding for site Elements Variables*/
    --elementPadding: 5px;
    /*Color Scheme Variables*/
    --backGroundColor: #383838;
    /*Header Variables*/
    --headerHeight: 100px;
    /*Navigation Variables*/
    --navHeight: 40px;
    /*Body Variables*/
    /*Content 1 (left Column) Variables*/
    /*Main Variables*/
    --maxWidth: 730px;
    /*Aside Variables*/
    --asideWidth: 125px;
    /*Content 2 (right Column) Variables*/
    /*Footer Variables*/
    --footerHeight: 45px;

    /*Text Size Controls*/
    --mainH1Size: 40px;
    --subH1Sizes: 22px;
    --textContent: 18px;
}
/* ############################################################################################### */
/* CSS RESET*/
*{
    margin:0;
    padding:0;
}
/*| START D277Main.html Style Section |*/
/*Main Header Layout*/
.mainHeader {
    border-radius: var(--borderRadius);
    border: var(--border);
    background-color: var(--backGroundColor);

    grid-column-start: 1;
    grid-column-end: 5;
    
}
.mainHeader table{
    width:100%;
}
.mainHeader td{
    width:50%;    
}
.mainHeader img{
    float:right;
    margin-top:10px;
}
.mainHeader h1{
    float:left;
    margin-top:10px;
    font-size: var(--mainH1Size);
}
/*Body Layout*/
body {
    background-color: black;
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr var(--asideWidth) 1fr;
    grid-template-rows: var(--headerHeight) var(--navHeight) 1fr var(--footerHeight);
    /*gap: 0px;
    padding: 0px;*/
    /*box-sizing: border-box;*/
    font-weight: 100;
    color: white;
    text-align: center;
}
/*Navigation Layout*/
.navigation {
    border-radius: var(--borderRadius);
    border: var(--border);
    background-color: var(--backGroundColor);
    grid-column-start: 1;
    grid-column-end: 5;
    position: relative;
    z-index: 999;
    text-align: left;
}

.navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-radius: var(--borderRadius);
    background-color: #000000;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.navigation ul ul {
    position: absolute;
    top: 100%;
    display: none;
}

.navigation ul ul li {
    display: block;
}

.navigation li:hover ul {
    display: block;
}

.navigation ul ul li a:hover {
    background-color: var(--backGroundColor);
    border-radius: var(--borderRadius);
    border: var(--border);
    }
/*Content 1 - Left Column*/
.content1 {
    border-radius: var(--borderRadius);
    border: var(--border);
    background-color: var(--backGroundColor);
    
}
.content1 h1{
    font-size: var(--subH1Sizes);
}
.content1 p {
    display: none;
    font-size: var(--textContent);
    text-align: left;
    padding: 20px 5px;
}

/*Main Layout - Column 2*/
.mainContent {
    border-radius: var(--borderRadius);
    border: var(--border);
    background-color: var(--backGroundColor);
    
}
#imageDisplayed.mainContent img {
    border-radius: var(--borderRadius);
    width: var(--maxWidth);
}
/*Aside Layout - Column 3*/
.asideMain {
    border-radius: var(--borderRadius);
    border: var(--border);
    background-color: var(--backGroundColor);
    display: flex;
    flex-direction: column;
    padding:2px;
    align-items: start;
}
.asideMain img{
    border-radius: var(--borderRadius);
    width:100%;
}
/*Content 2 - Column 4*/
.content2 {
    border-radius: var(--borderRadius);
    border: var(--border);
    background-color: var(--backGroundColor);
}
.content2 h1{
    font-size: var(--subH1Sizes);
}
.content2 p {
    font-size: var(--textContent);
    text-align: left;
    padding: 10px 20px;
}
.content2 ul{
    list-style-type: none;
}
/*Footer Layout*/
footer {
    border-radius: var(--borderRadius);
    border: var(--border);
    background-color: var(--backGroundColor);
    grid-column-start: 1;
    grid-column-end: 5;
}
footer h5{
    margin:auto;
    padding:14px;
}
/*| End D277Main.html STYLE SECTION |*/
/* ############################################################################################### */
    
